{{!
    @template local_coursepilot/current_locations

    Aktuelle Orte fuer Kontextbereich und Materialbestand.
}}
<ul>
    <li>{{kontextbereich.label}} - {{kontextbereich.allowancelabel}}</li>
    <li>{{materialbestand.label}} - {{materialbestand.allowancelabel}}</li>
</ul>
