{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_coursepilot/ortswahl_folders

    Ordnerliste einer Ebene im Dateifenster der Ortswahl (Issue #551),
    gefuellt vom AMD-Modul amd/src/ortswahl.js statt aus Zeichenketten
    zusammengebaut.

    Context variables required for this template:
    * folders - array - list of {name}, empty when the level has no subfolders

    Example context (json):
    {
        "folders": [
            {"name": "Unterricht"},
            {"name": "Material"}
        ]
    }
}}
<div class="list-group">
{{#folders}}
    <button type="button" class="list-group-item list-group-item-action" data-folder-name="{{name}}">{{name}}</button>
{{/folders}}
</div>
